 * {
    margin: 0;
    /* padding: 1rem 0.1rem; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
    background-color: #005A55;

}

.heading{
    color: #6CA14C;
    font-size: 100%;
}
.mainh1{
    color: #B0C24D;
}
.button a {
    text-decoration: none;
    /* border: 4px solid black; */
    /* border-radius: 6rem; */
    font-size: 3rem;
    color: #005942;
    background-color: #6CA14C;
}
.btn a:hover{
    background-color: #B0C24D;
    padding: 0.5rem;
}
.btn{
    border: none;
}
.img{
    margin-top: 2rem;
}

@media only screen and (max-width: 425px) {
    img {
      border: solid black;
      height: 100%;
    }
    .btn{
        size: 2rem;
    }
    .heading{
        font-size: 100%;
    }
    .mainh1{
        size: 100%;

    }
}